*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(30, 117, 117);
}
body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(253, 253, 253);
}
h1{
    color:rgb(43, 155, 170);
}
h3{
    color: rgb(59, 153, 153);
}
/* Parte do paralaxe */
.wrapper{
    height: 100vh; /* toda a tela View Hated*/
    overflow-x: hidden;
    perspective: 3px;
    transform-style: preserve-3d;
}
.secao{
    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px; /*tamanho minimo */
    transform-style: inherit
}

.secao::before{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center center; /*centralizado no eixo X e no Y*/ 
    transform: translateZ(-1px)scale(1.5);
}
.conteudo{
    position: absolute;
    top: 14%;
    width: 80%;
    padding: 20px 15px;
    margin: 10px;
    color: rgb(43, 42, 42);
    background-color: rgba(219, 219, 219, 0.507);
    border: 1px orange;
    border-radius: 2em;
    box-shadow: 2px 1px 2px rgb(129, 191, 219);
    font-size: 19px;
    text-align: justify
}
.f1::before{
    background-image: url(imagens/windowsbg.jpg);
}
.f2::before{
    background-image: url(imagens/macosbg.webp);
}
.f3::before{
    background-image: url(imagens/linuxbg.jpg);
}